.steam {
  height: 200px;
  position: relative;
  top: 0px;
  z-index: 90;
}

.steam svg image {
  opacity: 0;
}

.steam svg .steamImage1,
.steam svg .steamImage4,
.steam svg .steamImage7 {
  animation-name: float1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.steam svg .steamImage2,
.steam svg .steamImage5,
.steam svg .steamImage8 {
  animation-name: float2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.steam svg .steamImage3,
.steam svg .steamImage6,
.steam svg .steamImage9 {
  animation-name: float3;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}


.steam svg .steamImage4,
.steam svg .steamImage5,
.steam svg .steamImage6 {
  animation-delay: 4s
}

.steam svg .steamImage7,
.steam svg .steamImage8,
.steam svg .steamImage9 {
  animation-delay: 2s
}

@keyframes float1 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0);
  }

  25% {
    opacity: 0.18;
  }

  to {
    opacity: 0;
    transform: translate(0, -100px) rotate(5deg);
  }
}

@keyframes float2 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0);
  }

  25% {
    opacity: 0.1;
  }

  to {
    opacity: 0;
    transform: translate(0, -100px) rotate(-5deg);
  }
}

@keyframes float3 {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  25% {
    opacity: 0.15;
  }

  to {
    opacity: 0;
    transform: translate(0, -100px);
  }
}