.main-container.blog-single {
  background-color: #f4f3f3;
}

.main-container.blog-single .main-contents {
  justify-content: flex-start;
}

.main-container.blog-single .main-contents .blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}


.main-container.blog-single .main-contents .blog-header h1 {
  color: #535353;
  margin-bottom: 0;
  font-weight: 900;
  letter-spacing: -1px;
}

.main-container.blog-single .main-contents .blog-header small {

  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 32px;
  color: #999999;
}

.main-container.blog-single .main-contents hr {
  height: 8px;
  margin: 0;
  border: none;
  background-color: #e6e6e6;
}

.main-container.blog-single .blog-content {
  width: inherit;
  padding-top: 0;
  color: #535353;
}


.main-container.blog-single .blog-content a {
  color: #009ee2;
}

.main-container.blog-single .blog-content h1,
.main-container.blog-single .blog-content h2,
.main-container.blog-single .blog-content h3,
.main-container.blog-single .blog-content h4,
.main-container.blog-single .blog-content h5 {
  color: #4a4a4a;
  letter-spacing: -1px;
  font-weight: 500;


}


.main-container.blog-single .blog-content pre,
.main-container.blog-single .blog-content pre:not(code),
.main-container.blog-single .blog-content code {
  background-color: #e6e6e6;
}

.main-container.blog-single .blog-content pre.language-shell,
.main-container.blog-single .blog-content pre.language-javascript,
.main-container.blog-single .blog-content pre.language-json,
.main-container.blog-single .blog-content pre.language-css {
  padding: 16px;
}

.main-container.blog-single .blog-content code.language-text {
  padding: 6px 8px;
  margin: 4px;
}

.main-container.blog-single .blog-content blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.main-container.blog-single .blog-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.main-container.blog-single .blog-content blockquote p {
  display: inline;
}

.main-container.blog-single .blog-content blockquote cite {
  display: block;
  margin-left: 48px;
  font-size: 14px;
}


.main-container.blog-single .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.main-container.blog-single .pagination a {
  color: #009ee2;
}