.main-container.blog-all {
  background-color: #112f42;
  background-color: #f4f3f3;

}

.main-container.blog-all .main-contents {
  justify-content: flex-start;
}

.main-container.blog-all .main-contents .post {
  width: inherit;

}

.main-container.blog-all .main-contents .post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  padding-bottom: 32px;
  border-bottom: 8px solid #e6e6e6;
}


.main-container.blog-all .main-contents .post h1 {
  color: #535353;
  margin-bottom: 0;
  font-weight: 900;
  letter-spacing: -1px;
}

.main-container.blog-all .main-contents .post small {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 32px;
  color: #999999;
}

.main-container.blog-all .main-contents .post a {
  box-sizing: content-box;
}