html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Biryani";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "Biryani";
  color: #333333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline-width: 0;
}


html {
  font: 112.5%/1.45em;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(1.45rem / 2);
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  padding: 0 8px;
  border: 1px solid #e6e6e6;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

body,
body>*,
body>*>*,
body>*>*>* {
  min-height: 100vh;
}

main {
  color: #f3f3f3;
  font-weight: 300;
  min-height: 100vh;
}

.main-contents {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
  width: 100%;
  padding: 24px 80px;

}

.main-container {
  width: 100%;
}

.main-container.home {
  background-color: #009ee2;
}

.main-container.reading {
  background-color: #4a4a4a;
}

.main-container.about {
  background-color: #005ba9;
}

@media (max-width: 599px) {
  main {
    position: relative;
    top: 80px;
    width: 100%;
    min-height: calc(100vh - 128px);
  }

  .main-contents {
    min-height: calc(100vh - 128px);
    padding: 18px 40px;
  }
}

@media (min-width: 600px) {
  main {
    width: 60%;
    left: 40%;
    position: relative;
  }

  .main-contents {
    min-height: calc(100vh - 48px);
    padding: 24px 40px;
  }
}

@media (min-width: 900px) {
  main {
    width: 70%;
    left: 30%;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}