/* @import url("./../layouts/overrides.css"); */
.bookshelf {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.bookshelf h1 {
  font-weight: 300;
  font-size: 12px;
  color: #fafafa;
  padding: 16px 40px 6px 60px;
  margin-left: -80px;
}

.books {
  display: grid;
  grid-gap: calc(1em + 2vw);
  grid-template-columns: 1fr 1fr;
  font-size: 0.875em;
  margin-bottom: calc(1em + 2vw);
  line-height: 1.2;
}

@media (min-width: 30em) {
  .books {
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  }

  .book img {
    height: 270px;
  }
}

.book {
  position: relative;
  text-align: center
}

.book h3 {
  margin: 0;
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 14px;
}

.book a,
.book a:visited {
  text-decoration: none;
}

.book .gatsby-image-wrapper {
  min-width: 129px;
  max-width: 156px;
  max-height: 200px;
  height: 200px;
  box-shadow: 2px 8px 32px 4px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  margin-bottom: 0;
}

.book .progress-bar {
  margin: 4px 16px 16px 16px;
  border-radius: 4px;
  width: inherit;
  display: block;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.book .progress-bar span {
  border-radius: 4px;

  background-color: #009ee2;
  height: 100%;
  display: block;
}

.book p {
  font-size: 12px;
  font-weight: 300;
}

.book>*+* {
  margin: 0;
  margin-top: 0.5em;
}