.sidebar {
  background-color: #fafafa;
  color: #333;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 800;
  font-family: "Biryani";
}

.sidebar .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}

.sidebar h1,
.sidebar h1 a {
  color: #4a4a4a;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1.5;
}

.sidebar h2 {
  color: #4a4a4a;
  margin-bottom: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.5;
}

.sidebar h1 span,
.sidebar h2 span {
  display: inline-block;
  margin-right: 12px;
}

.sidebar p {
  font-family: "Biryani";
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 1.7;
}

.sidebar .social {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 240px;
}

.sidebar .social a {
  color: #959595;
  font-size: 24px;
  transition:
    color 0.125s linear;
}

.sidebar .social .twitter:hover {
  color: #1da1f2;
}

.sidebar .social .github:hover {
  color: #4078c0;
}

.sidebar .social .dribbble:hover {
  color: #ea4c89;
}

.sidebar .social .medium:hover {
  color: #00ab6c;
}

.sidebar .social .vimeo:hover {
  color: #1ab7ea;
}

.sidebar .nav {}

.sidebar .nav>* {
  margin-right: 24px;
}

.sidebar .nav-full {
  font-size: 24px;

  margin-bottom: 36px;
}

.sidebar .nav-mobile a {
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 12px;
}

.sidebar .menu-icon {
  cursor: pointer;
  display: inline-block;
  max-width: 80px;
  float: right;
  padding: 20px 20px 20px 0;
  position: relative;
  user-select: none;
  margin-left: -20px;
}

.sidebar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.sidebar .menu-icon .navicon:before,
.sidebar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.sidebar .menu-icon .navicon:before {
  top: 5px;
}

.sidebar .menu-icon .navicon:after {
  top: -5px;
}

.sidebar .menu-btn {
  display: none;
}

.sidebar .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.sidebar .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.sidebar .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.sidebar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.sidebar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.sidebar .meta li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

@media (max-width: 599px) {
  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 100;
  }

  .sidebar .about {
    margin: 0 40px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .sidebar .nav-full {
    display: none;
  }

  .sidebar a {
    position: relative;
    top: 2px;
  }

  .sidebar .meta {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 0 40px;
    position: absolute;
    top: 80px;
    background-color: #fafafa;
    display: flex;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .sidebar .menu-btn:checked~.meta {
    max-height: 240px;
  }

  .sidebar h1 {
    font-size: 18px;
    margin: 0 -16px 0 0;
    flex: 1;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar h2 {
    font-size: 16px;
    flex: 1;
    min-width: 80px;
    margin: 0;
    margin-right: 0;
    line-height: 1.7;
    margin-bottom: 16px;
  }


  .sidebar h2 span {
    display: block;
  }

  .sidebar .details {
    margin: 0;
  }

  .sidebar p {
    margin-top: 0;
    font-size: 12px;
    flex: 2;
    line-height: 1.5;
  }

  .sidebar p a {
    position: initial;
  }

  .sidebar .meta .details {
    max-width: 160px;
    margin: 0;
    flex: 1;
    margin-bottom: 16px;
  }

  .sidebar .social {
    margin: 0;

  }

  .sidebar .social a {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    bottom: 0;
  }

  .sidebar .menu-btn,
  .sidebar .menu-icon,
  .sidebar .menu {
    display: none;
  }

  .sidebar .about {
    margin: 0 40px;
  }

  .sidebar .nav-mobile {
    display: none;
  }

  .sidebar h1 {
    font-size: 24px;
  }

  .sidebar h2 {
    font-size: 20px;
  }

  .sidebar p {
    font-size: 12px;
  }


}

@media (min-width: 900px) {
  .sidebar {
    width: 30%;
  }

  .sidebar h1 {
    font-size: 28px;
  }

  .sidebar h2 {
    font-size: 24px;
  }

  .sidebar p {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {

  .sidebar h1 {
    font-size: 32px;
  }

  .sidebar h2 {
    font-size: 28px;
  }

  .sidebar p {
    font-size: 16px;
  }
}